PyYAML==6.0.1
numpy==1.26.4
pandas==2.2.2
Pillow>=10.3,<12
scipy>=1.11,<2
scikit-image>=0.22,<1
opencv-python==4.10.0.84
torch==2.3.1
torchvision==0.18.1
transformers==4.42.4
huggingface-hub==0.24.0
einops==0.8.0
tensorboard==2.17.0
matplotlib==3.9.1
seaborn==0.13.2
natsort==8.4.0
inflect>=7.0,<8
augly>=1.0,<2
fsspec>=2024.6
pytz>=2024.1
tqdm>=4.66
segmentation-models-pytorch>=0.3.3,<0.5
Flask>=3.0,<4
gradio>=4.0,<6
